{% extends "base.html.twig" %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
{% block body %}
<div class="userInformation">
<span class="userInfos">Administrateur : {{ app.user.prenom}} {{ app.user.nom}}</span>
<span class="userInfos" >Téléphone : {{ app.user.telephone}}</span>
<a class="btn btn-danger" href="{{path('userDisconnect')}}" class="userInfos" >Se déconnecter</a>
</div>
  <div class="sideBarAdmin">
    <div class="divOption col-md-12 boutton userManagementButton">Gestions des utilisateurs</div>
    <div class="divOption col-md-12 boutton deliverManagementButton">Gestion des livraisons</div>
    <div class="divOption col-md-12 boutton incidentManagementButton">Gestion des incidents</div>
    <div class="divOption col-md-12 boutton vehicleManagementButton">Gestion des véhicules</div>
  </div>
<div class="contentVariable"></div>
{# Menu de gestion des utilisateurs #}
<div class="userManagement">
<div id="userManagementMenu">
    <div class="divOption col-md-12 boutton addUser">Ajouter un utilisateur</div>
    <div class="divOption col-md-12 boutton ListUser">Liste des utilisateurs</div>
</div>
<div id="userManagementContentVariable"></div>
<div id="formAddUser">
{{ form_start(formAddUser) }}
    <div class="col-md-12">
        <div class="col-md-6 alignDiv">
            {{ form_row(formAddUser.prenom,{'attr':{'placeholder':'Mettez le prénom de l\'utilisateur'}}) }}
        </div>
        <div class="col-md-6 alignDiv">
            {{ form_row(formAddUser.nom,{'attr':{'placeholder':'Mettez le nom de l\'utilisateur'}}) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 alignDiv">
            {{ form_row(formAddUser.login,{'attr':{'placeholder':'Mettez le login de l\'utilisateur'}}) }}
        </div>
        <div class="col-md-6 alignDiv">
            {{ form_row(formAddUser.telephone,{'attr':{'placeholder':'Mettez le téléphone de l\'utilisateur'}}) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 alignDiv">
            {{ form_row(formAddUser.password,{'attr':{'placeholder':'Mettez le mot de passe de l\'utilisateur'}}) }}
            <span class="display">Afficher le mot de passe</span>
            <span class="undisplay">Afficher le mot de passe</span>
        </div>
        <div class="col-md-6 alignDiv">
            {{ form_row(formAddUser.role,{'attr':{'placeholder':'Mettez le rôle de l\'utilisateur'}}) }}
        </div>
    </div>
{{ form_end(formAddUser) }}
</div>
<div id="tableListUser">2</div>
</div>
{# Menu de gestion des incidents #}
<div class="incidentManagement">
<div id="incidentManagementMenu">
    <div class="divOption col-md-12 boutton addIncident">Déclarer un incident</div>
    <div class="divOption col-md-12 boutton ListIncident">Liste des incidents</div>
</div>
<div id="IncidentManagementContentVariable"></div>
<div id="formAddIncident">5</div>
<div id="tableListIncident">6</div>
</div>
{# Menu de gestion des livraisons #}
<div class="deliverManagement">
<div id="deliverManagementMenu">
    <div class="divOption col-md-12 boutton addDeliver">Ajouter une livraison</div>
    <div class="divOption col-md-12 boutton ListDeliver">Liste des livraisons</div>
</div>
<div id="DeliverManagementContentVariable"></div>
<div id="formAddDeliver">1</div>
<div id="tableListDeliver">2</div>
</div>
{# Menu de gestion des vehicules #}
<div class="vehicleManagement">
<div id="vehicleManagementMenu">
    <div class="divOption col-md-12 boutton addVehicle">Ajouter un véhicule</div>
    <div class="divOption col-md-12 boutton ListVehicle">Liste des véhicules</div>
</div>
<div id="VehicleManagementContentVariable"></div>
<div id="formAddVehicle">7</div>
<div id="tableListVehicle">8</div>
<input type ="text" id="pass"/>
</div>
   <script>
    password = document.getElementById('password')
    password.style.color = "blue";
    // Code JavaScript pour le menu
       $(document).ready(function(){
        // Gestion des utilisateurs
         $('.userManagementButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.userManagement').html()));
         //Menu gestion utlisateur
         $('.addUser').click(function(){
            console.log($('#userManagementContentVariable').html($('#formAddUser').html()));
         })
         $('.ListUser').click(function(){
            console.log($('#userManagementContentVariable').html($('#tableListUser').html()));
         })
         })
        // Gestion des livraisons
         $('.deliverManagementButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.deliverManagement').html()));
           //Menu gestion des livraisons
            $('.addDeliver').click(function(){
                console.log($('#DeliverManagementContentVariable').html($('#formAddDeliver').html()));
            })
            $('.ListDeliver').click(function(){
                 console.log($('#DeliverManagementContentVariable').html($('#tableListDeliver').html()));
            })
         })
        // Gestion des incidents
         $('.incidentManagementButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.incidentManagement').html()));
            //Menu gestion des incidents
            $('.addIncident').click(function(){
                console.log($('#IncidentManagementContentVariable').html($('#formAddIncident').html()));
            })
            $('.ListIncident').click(function(){
                 console.log($('#IncidentManagementContentVariable').html($('#tableListIncident').html()));
            })            
         })
        // Gestion des véhicules
         $('.vehicleManagementButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.vehicleManagement').html()));
            //Menu gestion des véhicules
            $('.addVehicle').click(function(){
                console.log($('#VehicleManagementContentVariable').html($('#formAddVehicle').html()));
            })
            $('.ListVehicle').click(function(){
                 console.log($('#VehicleManagementContentVariable').html($('#tableListVehicle').html()));
            })            
         })
       })
   </script>
{% endblock %}