{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="userInformation">
<span>Chauffeur : {{ app.user.prenom}} {{ app.user.nom}}</span>
<span>Véhicule : {% for vehicule in app.user.vehicules %}
    {{vehicule.immatriculation}}
{% endfor %}</span>
<span>Téléphone : {{ app.user.telephone}}</span>
<a class="btn btn-danger" href="{{path('userDisconnect')}}">Se déconnecter</a>
</div>
<div class="sideBar">
    <div class="divOption col-md-12 boutton startMyDayButton">Je commence ma journée</div>
    <div class="divOption col-md-12 boutton makeScoreButton">Faire un pointage</div>
    <div class="divOption col-md-12 boutton reportIncidentButton">Déclarer un incident</div>
    <div class="divOption col-md-12 boutton tourListButton">Liste de mes tournées du jour</div>
    <a class="divOption col-md-12 boutton finishDayButton" href="{{path('finish')}}">J'ai fini ma journée</a>
</div>
<div class="contentVariable"></div>
<div class="startMyDay">
{{ form_start(form) }}
{{ form_end(form)}}
</div>
<div class="makeScore">
{{ form_start(formMakeScore) }}
{{ form_end(formMakeScore) }}
</div>
<div class="reportIncident">
{{ form_start(formDeclareIncident) }}
{{ form_end(formDeclareIncident) }}
</div>
<div class="changeVehicle">4</div>
<div class="tourList">
<table class="table table-striped col-sm-12">
  <thead>
    <tr>
      <th scope="col">Numéro de livraison</th>
      <th scope="col">Libellé de la livraison</th>
      <th scope="col">Statut de la Livraison</th>
    </tr>
  </thead>
  <tbody>
{% for livraison in livraisons %}
    {% if app.user == livraison.utilisateur %}
      <tr>
      <th scope="row"> {{ livraison.id }} </th>
      <td> {{livraison.libelle }} </td>
      <td> {{ livraison.statut}} </td>
    </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
<a class="btn btn-success" href="{{path('imprimer')}}">Imprimer la Liste</a>
</div>
   <script>
       $(document).ready(function(){
        // Commencer ma journée
         $('.startMyDayButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.startMyDay').html()));
         })
        // Faire un pointage
         $('.makeScoreButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.makeScore').html()));
         })
        // Declarer un incident
         $('.reportIncidentButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.reportIncident').html()));
         })
        // Liste de mes tournées
         $('.tourListButton').click(function(){
             $('.contentVariable').html("")
             console.log($('.contentVariable').html($('.tourList').html()));
         })
       })
   </script>
{% endblock %}