{% extends "base.html.twig" %}
{% block body %}
<center><h1 style='text-decoration:underline;'><strong>Feuille de route Chauffeur</strong></h1></center>
<!-- Infos chauffeur responsable de la tournée -->
&nbsp;&nbsp;&nbsp;------------------------------------------------------------------------------------------------------------------------------
<div class="infoChauffeur">
    <div class='treeContent'>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;Prénom(s) Nom:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Téléphone</div>
    <div>
     &nbsp;&nbsp;&nbsp;&nbsp; <strong>{{ app.user.prenom}} {{app.user.nom}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>{{app.user.telephone}}</strong>
    </div> 
&nbsp;&nbsp;&nbsp;------------------------------------------------------------------------------------------------------------------------------
    <!-- Infos sur les tournées faites pas faites -->
    <div>
     &nbsp;&nbsp;&nbsp;&nbsp;Date de la tournée: {{ "now"|date("m/d/Y") }} &nbsp;&nbsp;&nbsp;&nbsp;Nombre de points à Livrer: 12  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Points Livrés:12
    </div>
    &nbsp;&nbsp;&nbsp;------------------------------------------------------------------------------------------------------------------------------
    <!-- infos sue le départ et l'arrivée du chauffeur --> 
    <div>
     &nbsp;&nbsp;&nbsp;&nbsp;Heure de départ de l'usine: 10:17 &nbsp;&nbsp;Heure de retour / arrivée à l'usine: 12:12
    </div>
    <br/>
</div>

<div>
<table class="table table-bordered col-sm-12" border="1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numéro de livraison</th>
      <th scope="col">Libellé de la livraison</th>
      <th scope="col">Statut de la Livraison</th>
      <th scope="col">Véhicule utilisé</th>
      <th scope="col">Heure Arrivée</th>
      <th scope="col">Heure Sortie</th>
    </tr>
  </thead>
  <tbody>
{% for pointage in pointages %}
   {% if pointage.utilisateur == app.user %}
    <tr>
      <th scope="row"> {{ pointage.id }} </th>
      <td> {{pointage.PointDeLivraison }} </td>
      <td> {{ pointage.livraison.statut}} </td>
      <td> {{ pointage.vehicule.immatriculation}} </td>
      <td> {{ pointage.heureArrivee | date("H:i")}} </td>
      <td> {{ pointage.heurSortie | date("H:i")}}</td>
    </tr>
   {% endif %}
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}